* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: rgb(202, 147, 147);
	font-family: 'Open Sans', sans-serif;
}

.conte{
	width: 90%;
	margin: auto;
}
header {
	padding: 30px 0;
    background-color: rgba(50, 50, 50, 0.52);
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: black;
	font-size: 40px;
}
header nav a {
	color: black;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.containerm{
    background-color: white;

}
.Nombre{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
main{
background-color: white;
}
.logo {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc(50% - 50px);
  }

  .informacion{
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
      font-family: 'Times New Roman', Times, serif;
  }
  @media screen and (max-device-width : 480px) {

    #sidebar{
        display:none;
        }
            #menu{
           text-align:center;
           }
}



.cuadros{
    margin-left: 3.5%;
}.TecnologiaD{
    width: 150px;
    height: 415px;
    color: black;
    top: 63%;
    left: 20%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: rgb(87, 85, 85);
    -webkit-box-shadow: 0px 0px 17px 0px rgb(50, 50, 50);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.habilidades{
    width: 150px;
    height: 410px;
    color: black;
    top: 62%;
    left: 45%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: rgb(87, 85, 85);
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.experiencias{
    width: 150px;
    height: 415px;
    color: black;
    top: 62%;
    left: 70%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: rgb(87, 85, 85);
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.contactoM{
    padding-top: 30%;
    margin-left: 60%;
}

.correo{
    width: 30%;
    margin-left: 60%;
    -webkit-box-shadow: 10px 2px 14px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:    10px 2px 14px 0px rgba(50, 50, 50, 0.52);
box-shadow:         10px 2px 14px 0px rgba(50, 50, 50, 0.52);
}
button{
    text-decoration: none;
    background-color:blue;
    width: 180px;
    color: black;
    margin-left: 60%;
}
 
.final{
    background-color: black;
}

a{
    text-decoration: none;
}
}

.contenedor {
	width: 90%;
	margin: auto;
}
header {
	padding: 30px 0;
    background-color: rgb(33, 45, 85);
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: black;
	font-size: 40px;
}
header nav a {
	color: black;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.container{
    background-color: white;

}
.Nombre{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
main{
background-color: white;
}
.logo {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc(50% - 50px);
  }

  .info{
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
      font-family: 'Times New Roman', Times, serif;
  }
  @media screen and (max-device-width : 480px) {

    #sidebar{
        display:none;
        }
            #menu{
           text-align:center;
           }
}



.pasatiempo1{
    margin-left: 3.5%;
}.tiempo1{
    width: 150px;
    height: 230px;
    color: black;
    top: 63%;
    left: 20%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.tiempo2{
    width: 150px;
    height: 300px;
    color: black;
    top: 62%;
    left: 45%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.tiempo3{
    width: 150px;
    height: 230px;
    color: black;
    top: 62%;
    left: 70%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
}
.contactoM{
    padding-top: 30%;
    margin-left: 10%;
}

.numero{
    width: 30%;
    margin-left: 40%;
    -webkit-box-shadow: 10px 2px 14px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:    10px 2px 14px 0px rgba(50, 50, 50, 0.52);
box-shadow:         10px 2px 14px 0px rgba(50, 50, 50, 0.52);
}
button{
    text-decoration: none;
    background-color:rgb(78, 78, 90);
    width: 180px;
    color: black;
    margin-left: 10%;
}
 
.final{
    background-color: black;
}

a{
    text-decoration: none;
}